.vagrant
.DS_Store
TYPO3.CMS

public/fileadmin/*.*
public/fileadmin/*/*

public/fileadmin/_processed_/*
!public/fileadmin/_processed_/.gitkeep

public/fileadmin/_temp_/*
!public/fileadmin/_temp_/.htaccess
!public/fileadmin/_temp_/index.html

public/fileadmin/user_upload/*
!public/fileadmin/user_upload/index.html

public/typo3temp/*
!public/typo3temp/.gitkeep

public/uploads/*
!public/uploads/.gitkeep

public/typo3conf/ext/*
!public/typo3conf/ext/.gitkeep

public/typo3conf/*.log
html
typo3
!public/typo3
ENABLE_INSTALL_TOOL

